@import "html5-reset"

// Linear gradients
linearGradient(startPoint, startColor, startInterval, endColor, endInterval)
    background-color rgba(startColor)
    background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
    background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
    background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
    background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
    background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)

// Bright outline so you can see stuff
blueprint(color= cyan)
    border 1px dashed color

// Vendor function to output vendor prefixes
vendor(thing, value)
  for vendor in vendors
    if vendor == official
      {thing} value
    else
      -{vendor}- {thing} value

// Transparent function for border radius
border-radius()
    vendor(border-radius, arguments)

// Micro ClearFix hack
cf()
    *zoom 1
    &:before, &:after
        content ""
        display table
    &:after
        clear both

// -9999px replacement hack
indentOutOfSight()
    text-indent 100%
    white-space nowrap
    overflow hidden
    color transparent 

// Colour functions to provide solid colour fallbacks for old browsers
background-color()
    if arguments == transparent
       background-color transparent
    else if alpha(arguments) != 1
        background-color rgb(arguments)
        background-color rgba(arguments)
     
    else
        background-color arguments
color()
    if arguments == transparent
       color transparent
    else if alpha(arguments) != 1
        color rgb(arguments)
        color rgba(arguments)
    else
        color arguments

// Some CSS3 modifiers
transform()
    vendor(transform, arguments)
transition(what = all, duration = 200ms, timing = ease)
    vendor(transition, what duration ease)


*
    box-sizing border-box


$column = 100%/18

// STYLES BEGIN!


.margins
    margin 0.5em $column

.pull-left
    float left
.pull-right
    float right


html
body
    font-family 'Avenir Next'
    background-color #fff
    color #2A3D51


i
    position relative
    top -0.1em
    font-size 1.3em
    vertical-align middle


.button
button
    display inline-block
    border none
    text-decoration none
    background-color #1ABC9C
    color #ECF0F1
    font-family "Avenir Next Condensed"
    font-size 0.9em
    padding 0.25em 0.75em
    margin 0
    text-transform uppercase
    line-height 2em
    cursor pointer
    vertical-align middle
    border-radius 5em
    text-shadow 0 1px 1px rgba(#000, 0.25)
    box-shadow inset 0 0 5px rgba(#000, 0.25)
    i
        transition()
        color #16A085

    &:hover
        i
            color #ECF0F1
    &:active
        transform(scale(0.95))

.positive
    background-color #2ECC71
    i
        color #27AE60
.negative
    background-color #E74C3C
    i
        color #C0392B

.toolbar
    cf()
    text-align center
    margin 1em $column

.bluggr__title
    font-weight 300
    font-size 2em
    text-transform capitalize
    margin 1em $column

.bluggr__list
    font-size 1.1em
    margin 0 $column
    margin-top 1em
    list-style none
    li
        cursor pointer
        color #999
        margin-bottom 0.5em
        background-color #ECF0F1
        border 1px solid transparent
        transition()
        overflow hidden
        height 3.5em
        &:active
            opacity 0.5
        a
            text-decoration none
            display block
            padding 0.5em
            color white
            big
                color #34495E
            small
                color #BDC3C7
                font-size 80%
            &:before
                transition()
                display block
                position relative
                background-color #1ABC9C
                font-size 1.5em
                color #16A085
                float left
                font-family 'entypo'
                content "\e005"
                width 1.5em
                height 1.3em
                padding-top 0.3em
                text-align center
                width 0
                margin-right 0.25em
                overflow hidden
            &:hover
                &:before
                    width 2em


.section-wrap
    .title
        margin 1.5em 0 1em
        display block
        color rgba(75,79,83,1)

.split50
    @media(min-width:40em)
        width 50%
        float left
        // padding 0 $column

.preview
    padding 0.25em

.editor
.editor--field
    padding 0.25em
    font-family 'Cousine', monospace
    font-size 1em
    min-height 20em
    width 100%
    max-width 100%
    border none
    border-radius 0
    background-color #ECF0F1
    color #333
    transition()
    &:focus
        background-color #fff
        outline 0
.editor--field
    min-height 1em
    width 100%
    bottom 0
.editor
    height 100%
    padding 1em
    font-size 90%
    border-right 1px solid #95A5A6

.editor--title
    text-align center


.preview
.editor
    padding 1em
    h1
    h2
    h3
    h4
    h5
    h6
        margin 0.5em 0
        font-weight 400

    h1
        font-size 2.5em
        font-weight 200
        color #2C3E50
    h2
        font-size 1.5em
        color #2C3E50
        font-weight 200
    h3
        font-size 1.15em
        color #34495E
        text-transform uppercase

    p
        margin 0.25em 0
        margin-bottom 0.75em
        color #34495E
    a
        color #34495E